/*
7H14G0D 83 98851-1306
thiagobrunomenezesdacosta@gmail.com
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #5846f9;
  text-decoration: none;
}

a:hover {
  color: #8577fb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5846f9;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #7b27d8;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5846f9;
  border-top-color: #e7e4fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(80, 3, 147, 0.8);
  padding: 12px 0;
}

#header .logo {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 64px;
  letter-spacing: 2px;
  text-transform: none;
  animation: logo_animation 2s linear ;
}

#header .logo a {
  color: #fff;
  text-shadow: 0.03em 0.03em #333;
  letter-spacing: .0rem;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header #logo img {
    max-height: 30px;
  }
}
/* animação da logo */
@keyframes logo_animation{
  from {filter:brightness(100%)}
  from {filter:brightness(25%)}
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  border-color: #fff;
}

.navbar .getstarted:before,
.navbar li:hover>.getstarted:before {
  visibility: hidden;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: #2c4964;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #5846f9;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #5846f9;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #5846f9;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Principal Seção
--------------------------------------------------------------*/
#principal {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/principal-bg.jpg") center center no-repeat;
  background-size: cover;
}

#principal .container,
#principal .container-fluid {
  padding-top: 84px;
}

#principal h1 {
  margin: 0;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  text-shadow: 0.03em 0.03em #333;
}

#principal h2 {
  color: #ffffff;
  text-shadow: 0.05em 0.05em #333;
  margin: 10px 0 0 0;
  font-size: 20px;
}

#principal .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
}

#principal .btn-get-started:hover {
  background: #fff;
  color: #5846f9;
}

#principal .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


@media (min-width: 1200px) {
  #principal {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #principal {
    text-align: center;
  }

  #principal .container,
  #principal .container-fluid {
    padding-top: 68px;
  }

  #principal .animated {
    -webkit-animation: none;
    animation: none;
  }

  #principal .principal-img {
    text-align: center;
  }

  #principal .principal-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #principal h1 {
    font-size: 26px;
    line-height: 36px;
  }

  #principal h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #principal .principal-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #principal .principal-img img {
    width: 80%;
  }
}

@media (max-width: 575px),
(max-height: 600px) {
  #principal {
    height: auto;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f9f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# sobre
--------------------------------------------------------------*/
.sobre .container {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.sobre .count-box {
  padding: 60px 0;
  width: 100%;
}

.sobre .count-box i {
  display: block;
  font-size: 48px;
  color: #a1bdd1;
  float: left;
  line-height: 0;
}

.sobre .count-box span {
  font-size: 28px;
  line-height: 25px;
  display: block;
  font-weight: 700;
  color: #365870;
  margin-left: 60px;
}

.sobre .count-box p {
  padding: 5px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #2e4b5e;
}

.sobre .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #2e4b5e;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.sobre .count-box a:hover {
  color: #477392;
}

.sobre .content {
  font-size: 15px;
}

.sobre .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #263d4d;
}

.sobre .content ul {
  list-style: none;
  padding: 0;
}

.sobre .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.sobre .content ul i {
  font-size: 24px;
  color: #ff4a17;
  position: absolute;
  left: 0;
  top: -2px;
}

.sobre .content p:last-child {
  margin-bottom: 0;
}

.sobre .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ff4a17 50%, rgba(255, 74, 23, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.sobre .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.sobre .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 7px solid rgba(255, 74, 23, 0.7);
  top: -13%;
  left: -13%;
  background: rgba(198, 16, 0, 0);
}

.sobre .play-btn:hover::after {
  border-left: 15px solid #ff4a17;
  transform: scale(20);
}

.sobre .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# sobre Boxes
--------------------------------------------------------------*/
.sobre-boxes {
  background: url("../img/sobre-boxes-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 30px 0;
  position: relative;
}

.sobre-boxes::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

.sobre-boxes .container,
.sobre-boxes .container-fluid {
  position: relative;
  z-index: 10;
}

.sobre-boxes .card {
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.sobre-boxes .card-icon {
  text-align: center;
  margin-top: -32px;
}

.sobre-boxes .card-icon i {
  font-size: 32px;
  color: #fff;
  width: 64px;
  height: 64px;
  padding-top: 5px;
  text-align: center;
  background-color: #ff4a17;
  border-radius: 4px;
  text-align: center;
  border: 4px solid #fff;
  transition: 0.3s;
  display: inline-block;
}

.sobre-boxes .card-body {
  padding-top: 12px;
}

.sobre-boxes .card-title {
  font-weight: 700;
  text-align: center;
}

.sobre-boxes .card-title a {
  color: #15222b;
}

.sobre-boxes .card-title a:hover {
  color: #ff4a17;
}

.sobre-boxes .card-text {
  color: #5e5e5e;
}

.sobre-boxes .card:hover .card-icon i {
  background: #fff;
  color: #ff4a17;
}

@media (max-width: 1024px) {
  .sobre-boxes {
    background-attachment: scroll;
  }
}


/*--------------------------------------------------------------
# Contato Section
--------------------------------------------------------------*/
#contato {
  padding: 60px 0;
  text-align: center;
}

#contato .contato-info {
  margin-bottom: 20px;
  text-align: center;
}

#contato .contato-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #600094;
  /*color: #f82249;*/
}

#contato .contato-info address,
#contato .contato-info p {
  margin-bottom: 0;
  color: #112363;
}

#contato .contato-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #112363;
}

#contato .contato-info a {
  color: #4869df;
}

#contato .contato-info a:hover {
  color: #600094;
  /*color: #f82249;*/
}

#contato .contato-address,
#contato .contato-phone,
#contato .contato-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  #contato .contato-address,
  #contato .contato-phone,
  #contato .contato-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contato .contato-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contato .email-form .error-message {
  display: none;
  color: #fff;
  background: #600094;
  /*background: #ed3c0d;*/
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contato .email-form .error-message br+br {
  margin-top: 25px;
}

#contato .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contato .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contato .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contato .email-form input,
#contato .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contato .email-form input:focus,
#contato .email-form textarea:focus {
  border-color: #600094;
  /*border-color: #f82249;*/
}

#contato .email-form input {
  padding: 10px 15px;
}

#contato .email-form textarea {
  padding: 12px 15px;
}

#contato .email-form button[type=submit] {
  background: #600094;
  /*background: #f82249;*/
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

#contato .email-form button[type=submit]:hover {
  background: #600094;
  /*background: #e0072f;*/
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/principal-bg.jpg") center center no-repeat;
  background-size: cover;
}

#footer .copyright-wrap {
  border-top: 1px solid #8577fb;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}